{{template "base" .}}
{{define "title"}}Yazılarım{{end}}
{{define "main"}}
    <h2 class="section-title">>> YAZILARIM</h2>
    
    {{if .Blogs}}
        {{range .Blogs}}
        <article class="blog-card" id="blog-{{.ID}}">
            {{if .ImagePath}}
                <a href="/post?id={{.ID}}"><img src="{{.ImagePath}}" alt="{{.Title}}" class="post-cover-img"></a>
            {{end}}
            <h3><a href="/post?id={{.ID}}" class="post-link">[{{.Title}}]</a></h3>
            <span class="blog-date">SYS.DATE: {{.CreatedAt.Format "02.01.2006"}}</span>
        </article>
        {{end}}
    {{else}}
        <p style="color: var(--text-muted);">Sistemde henüz bir kayıt bulunamadı...</p>
    {{end}}
{{end}}