{{template "base" .}}

{{define "title"}}Ana Sayfa{{end}}

{{define "main"}}
    <section class="intro">
        <h2>Sisteme Hoş Geldiniz</h2>
        <p>Burası Go ile geliştirilmiş, siber güvenlik odaklı kişisel blog altyapısıdır. Blog yazıları yakında veritabanından çekilecek.</p>
    </section>
{{end}}
